<?xml version="1.0" encoding="UTF-8"?>
<config>

	<project
		label		= "{projectLabel}"
	/>

	<database
		driver		= "{driver}"
		host 		= "{host}"
		port 		= "{port}"
		name		= "{name}"
		user		= "{user}"
		password	= "{password}"
	/>

	<compiler
		enable		= "true"
		api_key 	= "{api_key}"
		input		= "../../queries/tiny"
		output		= "../../queries"
	/>
	
	<postprocessor
		nest_fields	= "true"
	/>

</config>